<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Kun korte logs under tests -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Vis kun WARN+ (skru op til INFO hvis du vil) -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
